* {
    font-family: 'PT Sans', sans-serif;;
}

.mainpagecontent2 {
    display: flex;
    flex-wrap:wrap;
}

.maincontent2h2 {
    width: 100%;
}

.mainpagecontent3 {
    display: flex;
    flex-wrap: wrap;
}

.maincontent3h2 {
width: 100%;
}

.contributepagecontent2 {
    display: flex;
    flex-wrap:wrap;
}

.contributepagep1 {
    width: 100%;
    font-size: 25px;
}


.contributepagecontent3 {
    display: flex;
    flex-wrap:wrap;
}

.contributepagep2 {
    width: 100%;
    font-size: 25px;
}

.improvepagecontent2 {
    display: flex;
    flex-wrap:wrap;
}

.improvepagecontentp1 {
    width: 100%;
}

.improvepagecontent3 {
    display: flex;
    flex-wrap:wrap;
}

.improvepagecontentp2 {
    width: 50%;
}



.improvepagecontenth2-1,
.improvepagecontenth2-2,
.whiteText,
.contributepageh2-1,
.contributepageh2-2{
    display: flex;
    justify-content: center;
    color: aliceblue;
    font-size: 30px;
    width: 100%;
}

body {
    background-color:#6F8EC7;
}

.header {
    background-color: rgb(120, 143, 170);
    display: flex;
    flex-direction: column;
    height: 20vh;
}

.title {
    color: aliceblue;
    text-align: center;
}

.logo {
    background-color: aliceblue;
    margin-right: 300px;
    height: 5vh;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 5px;
}

.heroimage {

    background-image: url(../images/mainhero.jpg);
    height: 50vh;
    width: 100%;
    background-size: cover;
}

.heightRules {
    height: 65vh;
    background-repeat: no-repeat;
}

.improvepagecontentp1,
.improvepagecontentp2{
    font-size: 20px;
    display: flex;
    background-color: #D9D9D9;
    border-radius:18px;

}

.improvepagecontent1 {

    border: solid 1px rgb(217,217,217, 0.5);
    border-radius: 30px;
    background-color: rgb(217,217,217, 0.5);
    text-align: center;
    width: 33%;
    height: 50%; 
    justify-content: center;
    position: relative;
    margin-left: 33%;
    top: 25%;
}

.mainpagecontentp-1,
.mainpagecontentp-2{
    font-size: 20px;
    display: flex;
    background-color: #D9D9D9;
    border-radius:18px;
}

.improvepagecontent1 > p {
    color: white;
    text-align: center;    
    font-size: 40px;
}

.rounded {
    border-radius: 75%;
}

.contributepagecontent10 > P{
    color: white;
    text-align: center;    
    font-size: 35px;
}

.mainpagecontent1 > P{
    color: white;
    text-align: center;    
    font-size: 40px;
}

.mainpagecontent1 {
    border: solid 1px rgb(217,217,217, 0.5);
    border-radius: 30px;
    background-color: rgb(217,217,217, 0.5);
    text-align: center;
    width: 33%;
    height: 40%; 
    justify-content: center;
    position: relative;
    margin-left: 33%;
    top: 25%;
}

.contributepagecontent10 {

    border: solid 1px rgb(217,217,217, 0.5);
    border-radius: 30px;
    background-color: rgb(217,217,217, 0.5);
    text-align: center;
    width: 33%;
    height: 50%; 
    justify-content: center;
    position: relative;
    margin-left: 33%;
    top: 25%;
}




.improvepagecontentp2 {
    border: solid 1px #D9D9D9;
    border-radius: 30px;
    background-color: #D9D9D9;
    text-align: center;
    box-sizing: border-box;
}

.contributepagecontent1 herocontribute{
    background-image: image();
    border: solid 1px #D9D9D9;
    border-radius: 30px;
    background-color: #D9D9D9;
    text-align: center;
    width: 33%;
    height: 50%; 
    justify-content: center;
}

.contributepagecontent2 {
    border: solid 1px #D9D9D9;
    border-radius: 18px;
    background-color: #D9D9D9;
    text-align: left;  
    font-size: large;  
    
}


.contributepagecontent3 {
    background-color: #D9D9D9;
    border: solid 1px #D9D9D9;
    width: 95%;
    border-radius: 18px;
    text-align: left;  
    font-size: large;
  }  
    


.whiteText {
    color: white;
}

.blueText {
    color: blue;
}

.greenText {
    color: green;
}

.blueBackground {
    border-radius: 18px;
}

.NavLinks {
    color: green;
    background-color: rgb(203, 203, 198);
    padding-left: 5px;
    padding-right: 5px;
    border: solid 5px  rgb(203, 203, 198);
    border-radius: 50px;
    /* height: 30px; */
    /* height made text on nav bar not in center of the circle */
}


footer {
    display: flex;
    flex-direction: row;
    background-color: rgb(120, 143, 170);
    height: 20%;
    justify-content: center;
    font-size: x-large;
}

.footerimg {
    height: 30%;
}


.logo {
    width: 0%;
    max-width: 20%;
}

.herocontribute{
    background-image: url(../images/contributehero.jpg);
    height: 50vh;
    width: 100%;
    background-size: cover;
}

.logoimg {
    height: 16vh;
    position: relative;
    right: 10vh;
    bottom: 5vh;
}

* a {
    text-decoration: none;
    color: #2E6725;
}

.mainheroimage {

    background-image: url(../images/improvehero.png);
    height: 50vh;
    width: 100%;
    background-size: cover;
}

.importanceimg {
    display: flex;
    height: 300px;
    width: 50%;
    justify-content: center;
}

.mainpagecontentp-1 {
    width: 50%;
    order: 1;
}

.mainpagecontentp-2 {
    width: 50%;
    font-size: 25px;
}

.humanityimg {
    display: flex;
    height: 300px;
    width: 50%;
    justify-content: center;
}

.contributepagep1 {
    width: 50%;
    order: 1;
}

.contributepagep2 {
    width: 50%;
}

.improvepagecontentp1 {
    width: 50%;
    order: 1;
}

.improvepagecontentp2 {
    width: 50%;
}

.improveimg {
    display: flex;
    height: 300px;
    width: 50%;
    justify-content: center;
}
