body {
    background-color:#95A1BE;
}

.header {
    background-color: rgb(120, 143, 170);
    display: flex;
    flex-direction: column;
}

.title {
    margin-left: 150px;
    color: aliceblue;
}

.logo {
    background-color: aliceblue;
    margin-right: 300px;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 5px;
}

.heroimage {
    background-image: url("../images/mainhero.jpg");
}

.heightRules {
    height: 100vh;
    background-repeat: no-repeat;
}

.mainpagecontent1 {

}

.improvepagecontent1 {
    background-image: image();
    border: solid 1px #D9D9D9;
    border-radius: 30px;
    background-color: #D9D9D9;
    text-align: center;
}

.improvepagecontentp1 {
    border: solid 1px #D9D9D9;
    border-radius: 30px;
    background-color: #D9D9D9;
    text-align: center;
}

.improvepagecontentp2 {
    border: solid 1px #D9D9D9;
    border-radius: 30px;
    background-color: #D9D9D9;
    text-align: center;
}

.contributepagecontent1 {
    background-color: #D9D9D9;
     width: 60%;
    display: flex;
    justify-content: center;
    font-weight: bolder;
}

.contributepagecontent2 {
    background-color: #D9D9D9;
    width: 95%;

}

.whiteText {
    color: white;
}

.blueText {
    color: blue;
}

.greenText {
    color: green;
}

.blueBackground {
    background-color: lightblue;
}

.NavLinks {
    color: green;
    background-color: rgb(203, 203, 198);
    padding-left: 5px;
    padding-right: 5px;
    border: solid 5px  rgb(203, 203, 198);
    border-radius: 50px;
    height: 30px;
}

.contributepagecontent3 {
    background-color: #D9D9D9;
    width: 95%;
}

footer {
    display: flex;
    flex-direction: row;
}

.logo {
    width: 0%;
    max-width: 20%;
}

.herocontribute{
    background-image: url(../images/contributehero.jpg);
    height: 100vh;
    width: 200vh;
    

}